<mat-toolbar color="primary" class="navbar">
  <div class="navbar-header"></div>
</mat-toolbar>

<div class="fields">
  <h1>Recover Password</h1>
  <form [formGroup]="userRecover" (ngSubmit)="recover()" class="input-container">
    <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email"  class="form-control"   matInput formControlName="email" placeholder="enter email address">
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" class="recover-btn">Recover</button>
    </div>
    <a routerLink="/login">Redirect to login</a>
  </form>
  
  </div>
