<mat-nav-list class="side-nav">
  <a mat-list-item routerLink="/home" (click)="onSideNavClose()">
    <button mat-raised-button color="warn" class="admin-area-btn"><mat-icon class="icons">admin_panel_settings</mat-icon><span class="nav-caption">Admin Area</span></button>
  </a>
  <a mat-list-item routerLink="/owner" >
    <button mat-raised-button color="warm" class="admin-auth-btn"><mat-icon class="icons">fingerprint</mat-icon><span class="nav-caption">Authenticate as Admin</span></button>
  </a>
  <a mat-list-item routerLink="#">
    <button mat-raised-button color="warm" class="admin-login-btn"><mat-icon class="icons">login</mat-icon><span class="nav-caption">Log In as Admin</span></button>
  </a>
  
</mat-nav-list>