.navbar-header {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.navigation-items {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.icons {
  font-size: 20px;
  padding: 5px;
}

.workers-login-form {
  background-color: #0f0f10;
  border-radius: 7px;
  margin-top: 13rem;
  margin-left: 42rem;
  width: 450px;
  height: 380px;
  top: 50px;
}

.input-container {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
}

.login-btn {
  margin-left: 35px;
  width: 380px;
}

.paragraph {
  margin-top: 17px;
  color: white;
  margin-left: 250px;
  font-size: 14px;
}

.forgoten {
  color: blue;
  margin-left: 35px;
  font-size: 16px;
}
